[Unit]
Description=logactiond daemon
Documentation=https://logactiond.org/
After=syslog.target

[Service]
EnvironmentFile=/etc/default/logactiond
ExecStart=/usr/local/sbin/logactiond -f $OPTIONS
Restart=no
ExecReload=/bin/kill -HUP $MAINPID
Type=notify

[Install]
WantedBy=multi-user.target
