[Unit]
Description=logactiond triggers actions based on logfile contents
After=syslog.target

[Service]
ExecStart=/usr/local/sbin/logactiond -f
Restart=no
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
